@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /* ubuntu-regular - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/ubuntu-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/ubuntu-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/ubuntu-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/ubuntu-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/ubuntu-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/ubuntu-v20-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.ubuntu {
    font-family: Ubuntu, "times new roman", times, roman, serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif !important;
}

.test{
    background:  rgba(34, 46, 125, 0.03);
}
